.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-az2hYc2O-wAiju);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mvYa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__prWlZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__dUgJw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__dUgJw > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__dUgJw > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__dUgJw > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dUgJw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dUgJw > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rpAqK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img___7Slvr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img___7Slvr > picture > img {
  object-fit: cover;
}
.img___7Slvr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__pmKg9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__pmKg9 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pmKg9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pmKg9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__c5SWr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__xi68N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__tlUw7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__tlUw7 {
    font-size: 20px;
  }
}
.text__vDiUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___2CSt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wupb1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__wuxJj {
  font-size: 13px;
}
.svg___4ODXk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__acL19 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__cfPlw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__cfPlw > picture > img {
  object-fit: cover;
}
.img__cfPlw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__mw6T1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__mw6T1 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__mw6T1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__mw6T1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4J7Wm {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column___4J7Wm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column___4J7Wm > :global(.__wab_flex-container) > *,
.column___4J7Wm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___4J7Wm > :global(.__wab_flex-container) > picture > img,
.column___4J7Wm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__hw9Fa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__f6Gzz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__f6Gzz {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__tetT6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px;
}
.button__eZyLu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fljmc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fwFX {
  font-size: 13px;
}
.svg__nNdq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__mspBv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__daPr9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__daPr9 > picture > img {
  object-fit: cover;
}
.img__daPr9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__sdij6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__sdij6 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__sdij6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__sdij6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rRtoD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__rrANu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__uzVhv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__uzVhv {
    font-size: 20px;
  }
}
.text__et21L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__mztu3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lc4K2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__sV2RV {
  font-size: 13px;
}
.svg__gy0Hl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
