.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Me6-r4laOruRgz);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerTop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 3.33em 15px 1.11em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding: 0px;
}
.columns__iMHma {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 2.5em;
}
.columns__iMHma > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__iMHma > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__iMHma > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iMHma {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iMHma > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9DNdJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column___9DNdJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.column___9DNdJ > :global(.__wab_flex-container) > *,
.column___9DNdJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9DNdJ > :global(.__wab_flex-container) > picture > img,
.column___9DNdJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 169px;
  height: 36px;
  align-self: flex-start;
  flex-shrink: 0;
}
.text__fKA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__fKA {
    margin-top: calc(0px + 17px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: 0px;
  }
}
.column__yJ6Cu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: blur(0px);
  border-left-style: solid;
  border-left-color: var(--token-az2hYc2O-wAiju);
  min-width: 0;
  padding: 0px 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__yJ6Cu {
    padding: 0px 8px;
  }
}
.h5__a3Ho0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  align-self: center;
  text-align: left;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__a3Ho0 {
    margin: 0px 0px 15px;
  }
}
.link__q2Exg {
  position: relative;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  align-self: auto;
  text-align: center;
  margin: 0px 0px 0.75em;
}
.link__qnCsi {
  position: relative;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link__vdLn {
  position: relative;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link___7W6M {
  position: relative;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link___7W6M {
    margin: 0px 0px 1.5em;
  }
}
.link__lBk0 {
  position: relative;
  color: var(--token-az2hYc2O-wAiju);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.column___5KiBi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-left-style: solid;
  border-left-color: var(--token-az2hYc2O-wAiju);
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___5KiBi {
    padding: 0px 8px;
  }
}
.h5__xRavb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__xRavb {
    margin: 0px 0px 15px;
  }
}
.columns__bOxgz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-az2hYc2O-wAiju);
  min-width: 0;
  border-style: solid;
}
.columns__bOxgz > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__bOxgz > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__bOxgz > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bOxgz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bOxgz > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bOxgz > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bOxgz > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__e0Ts {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__oBvo6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__oBvo6 > picture > img {
  object-fit: cover;
}
.img__oBvo6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mnLux {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cHfE2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cHfE2 > picture > img {
  object-fit: cover;
}
.img__cHfE2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__lulxm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ckPOm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ckPOm > picture > img {
  object-fit: cover;
}
.img__ckPOm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ombzb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-az2hYc2O-wAiju);
  min-width: 0;
  border-style: solid;
}
.columns__ombzb > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__ombzb > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__ombzb > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ombzb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ombzb > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ombzb > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ombzb > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__gTEhb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__nuC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__nuC > picture > img {
  object-fit: cover;
}
.img__nuC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__fqhxn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___0GuWw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___0GuWw > picture > img {
  object-fit: cover;
}
.img___0GuWw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mrKp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__k2MJz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__k2MJz > picture > img {
  object-fit: cover;
}
.img__k2MJz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  padding: 0px;
}
.text__gFay {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  min-width: 0;
  margin: 1em 0px 0px;
}
