.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-az2hYc2O-wAiju);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kv1Nm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text___6A3GK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__kZ4Ik {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__kZ4Ik > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__kZ4Ik > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__kZ4Ik > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kZ4Ik {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kZ4Ik > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gBgKd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__qtBam {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__qtBam > picture > img {
  object-fit: cover;
}
.img__qtBam > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__lZ3Eu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__lZ3Eu > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lZ3Eu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lZ3Eu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nx0DD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__u0Ph5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__u0Ph5 {
    font-size: 20px;
  }
}
.text___2Wg7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__ry3Cf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__bgScA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__vtkVs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__mud5Y {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__eg5Ss {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__a5E0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__lkFl7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__lkFl7 > picture > img {
  object-fit: cover;
}
.img__lkFl7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__fY4IM {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__fY4IM > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fY4IM {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fY4IM > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yuheL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__kx6Fo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  padding-bottom: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__kx6Fo {
    font-size: 20px;
  }
}
.text__t0Fdp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__zvvPf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__hX65Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___9On0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__lPrG {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__zDl50 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__vi2O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__bAGqW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__bAGqW > picture > img {
  object-fit: cover;
}
.img__bAGqW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__kpUro {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__kpUro > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kpUro {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kpUro > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yJoiI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__eh9H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__eh9H {
    font-size: 20px;
  }
}
.text___7NkAg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text___33NdJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__wvG9T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__eUw1A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xkuYy {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__zS8Ip {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__gacZf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__gacZf > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__gacZf > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__gacZf > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__gacZf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__gacZf > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__v3G9Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img___2PCj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img___2PCj > picture > img {
  object-fit: cover;
}
.img___2PCj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__f2Rzj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__f2Rzj > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__f2Rzj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__f2Rzj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nk3Hu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__wByK5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__wByK5 {
    font-size: 20px;
  }
}
.text__a0NfC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__pQwNo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__iYbU3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__j6NwA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xZ5O {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__wrgOw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__qfJ84 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__ntMB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__ntMB > picture > img {
  object-fit: cover;
}
.img__ntMB > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ncHdF {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__ncHdF > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ncHdF {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ncHdF > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__uUsPg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__pdUhq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  padding-bottom: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__pdUhq {
    font-size: 20px;
  }
}
.text__dbYCj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__ckx5L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__f1FKu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__ly53Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__q1PRg {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__exBu3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__pq0Mm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__hvJOv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__hvJOv > picture > img {
  object-fit: cover;
}
.img__hvJOv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__gXgwt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__gXgwt > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__gXgwt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__gXgwt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__raoNl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__pBWh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Me6-r4laOruRgz);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__pBWh {
    font-size: 20px;
  }
}
.text__u6Is2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__lgw4C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___975Uz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__bCRrj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__i0FN3 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__eyZAs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
