.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Me6-r4laOruRgz);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hlPaw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__tzrR6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__hRdrr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__hRdrr > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__hRdrr > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__hRdrr > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hRdrr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hRdrr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__d9EmO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__tNd2K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__tNd2K > picture > img {
  object-fit: cover;
}
.img__tNd2K > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__es2En {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__es2En > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__es2En {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__es2En > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cg5VY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__rvws9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__rvws9 {
    font-size: 20px;
  }
}
.text__heBv5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__mxsOg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__rxoMv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___2ANxM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__x7S5Q {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__psTnl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ibAej {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__ousF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__ousF > picture > img {
  object-fit: cover;
}
.img__ousF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__qIxEy {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__qIxEy > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qIxEy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qIxEy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nniHb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__mEzqL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__mEzqL {
    font-size: 20px;
  }
}
.text___6RNm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__nh9XV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__jdwPn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__u9AlL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___3SasP {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__imgQh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__keUsP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__wNtac {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__wNtac > picture > img {
  object-fit: cover;
}
.img__wNtac > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__jZDt {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__jZDt > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jZDt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__jZDt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ff8Ra {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4___66TDd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___66TDd {
    font-size: 20px;
  }
}
.text__arqQs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding-left: 0px;
  min-width: 0;
}
.text__wTo1H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__rwnAi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__uRIbx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___6Zxre {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__qC5E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__t5SGi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__t5SGi > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__t5SGi > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__t5SGi > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__t5SGi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__t5SGi > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qrOkH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img___0VRyD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img___0VRyD > picture > img {
  object-fit: cover;
}
.img___0VRyD > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__k7Axg {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__k7Axg > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__k7Axg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__k7Axg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rd7Zg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__p7EV5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__p7EV5 {
    font-size: 20px;
  }
}
.text__wpmEb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__qz8Kt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__eRbuy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__sgKjd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yfi6M {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__kEeXs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ud3Su {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__gEUe1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__gEUe1 > picture > img {
  object-fit: cover;
}
.img__gEUe1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__d487I {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__d487I > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__d487I {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__d487I > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zk3V3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__yCls4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__yCls4 {
    font-size: 20px;
  }
}
.text__hzPtg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__sYu72 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___9JLg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__wvF25 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__orFas {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg___7SoJz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___1PC5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__bmsZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__bmsZ > picture > img {
  object-fit: cover;
}
.img__bmsZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___0TPDi {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns___0TPDi > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___0TPDi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___0TPDi > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___8Pwnq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__oEhkU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__oEhkU {
    font-size: 20px;
  }
}
.text__dKqMw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__uv5Vi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__olWd7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__q3Rks {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___7NuB {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__snF4Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__sR95 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__sR95 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__sR95 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__sR95 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__sR95 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__sR95 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mQfw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__hiViy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__hiViy > picture > img {
  object-fit: cover;
}
.img__hiViy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___4OLdA {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns___4OLdA > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___4OLdA {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___4OLdA > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sd2S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4___1CIzA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___1CIzA {
    font-size: 20px;
  }
}
.text___2V9Ba {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__ke9Sj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__qFkm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__jImd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__h7GX {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__eA6He {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__f0PKk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__cdx1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__cdx1 > picture > img {
  object-fit: cover;
}
.img__cdx1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__hj525 {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__hj525 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hj525 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hj525 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vqsuO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4___4IvK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___4IvK {
    font-size: 20px;
  }
}
.text__rxMSh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text___2RRhp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__zSwA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__xYnHs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__m3Sg5 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__vNO9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__jfuzg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img___4EVn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img___4EVn > picture > img {
  object-fit: cover;
}
.img___4EVn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ry7Pe {
  display: flex;
  position: relative;
  width: 100%;
  height: 236px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2dhwo4htpskCek);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  min-width: 0;
  padding: 1.33em;
}
.columns__ry7Pe > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ry7Pe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ry7Pe > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__z2PPp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__eMiZp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-size: var(--token-fmiX8ZKYgNSpQ7);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__eMiZp {
    font-size: 20px;
  }
}
.text__gyLoR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: var(--token-j1rJ0fLjdIUrh9);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__diWXo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-az2hYc2O-wAiju);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__bTmGr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__fvgjz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__gxd1J {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__usidq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
