.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 95px;
  max-height: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .header:global(.__wab_instance) {
    height: 208px;
    max-height: none;
    flex-shrink: 0;
  }
}
.freeBox__m9Qu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fTPf {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: none;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fTPf {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__zbv0W {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  min-width: 0;
  padding: 30px 32px 70px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zbv0W {
    padding-top: 50px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    padding-bottom: 50px;
  }
}
.freeBox__hp0Fb {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1280px;
  width: 100%;
  min-width: 0;
}
.freeBox__hp0Fb > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__hp0Fb > :global(.__wab_flex-container) > *,
.freeBox__hp0Fb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hp0Fb > :global(.__wab_flex-container) > picture > img,
.freeBox__hp0Fb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hp0Fb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hp0Fb > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hp0Fb > :global(.__wab_flex-container) > *,
  .freeBox__hp0Fb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hp0Fb > :global(.__wab_flex-container) > picture > img,
  .freeBox__hp0Fb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___7VBYa {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-self: flex-start;
  padding-top: 0px;
  min-width: 0;
}
.freeBox___7VBYa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___7VBYa > :global(.__wab_flex-container) > *,
.freeBox___7VBYa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7VBYa > :global(.__wab_flex-container) > picture > img,
.freeBox___7VBYa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__hXIr {
  margin-top: calc(0px + 32px) !important;
  margin-bottom: 0px;
  color: var(--token-Me6-r4laOruRgz);
  max-width: 534px;
  width: 100%;
  font-weight: 700;
  box-shadow: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__hXIr {
    margin-top: calc(0px + 32px) !important;
  }
}
.h1 {
  color: var(--token-Me6-r4laOruRgz);
  box-shadow: none;
  backdrop-filter: drop-shadow(10px 19px 10px #ffffff);
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  -webkit-backdrop-filter: drop-shadow(10px 19px 10px #ffffff);
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1 {
    color: var(--token-az2hYc2O-wAiju);
    box-shadow: none;
  }
}
.columns__uNiEq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__uNiEq > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__uNiEq > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uNiEq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uNiEq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wOHk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ximBn {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--token-Me6-r4laOruRgz);
  max-width: 534px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding-left: 0px;
  padding-bottom: 41px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ximBn {
    padding-bottom: 30px;
  }
}
.button__pV7O8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__nszCb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__hi4Rm {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.svg___5KXBj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__a35Da {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___9P3Nq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 5%;
}
.img___9P3Nq > picture > img {
  object-fit: cover;
}
.img___9P3Nq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___9P3Nq {
    margin-top: 20px;
  }
}
.solutions:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.platformTechnology:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-az2hYc2O-wAiju);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___3QUm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px var(--token-LvcFfF5Alpc0b_);
  min-width: 0;
  padding: 50px 15px;
}
.h2___4CzPy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___4CzPy {
    font-size: 32px;
  }
}
.text__zl7Nm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 784px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 45px;
}
.container4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  padding: 0px;
}
.container4 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qmc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__dl8U2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dl8U2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dl8U2 > :global(.__wab_flex-container) > *,
.freeBox__dl8U2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dl8U2 > :global(.__wab_flex-container) > picture > img,
.freeBox__dl8U2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__ppqwv {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-kO0g8-OltA9tU3);
  flex-shrink: 0;
}
.h3__ikFzx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__ikFzx {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text__n3DHe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  padding-bottom: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__n3DHe {
    margin-top: calc(0px + 20px) !important;
  }
}
.button__rr58H:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__gJx1T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bjZnU {
  font-family: "Roboto", sans-serif;
}
.svg__cnmfs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__bKqHp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__msFfm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__rGhyQ {
  object-fit: fill;
  height: 100%;
  width: 100%;
  object-position: center center;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  min-height: 0;
  border-radius: 5%;
}
.img__rGhyQ > picture > img {
  object-fit: fill;
  object-position: center center;
}
.img__rGhyQ > :global(.__wab_img-spacer) > img {
  object-fit: fill;
  object-position: center center;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__rGhyQ {
    margin-bottom: 24px;
    width: 385px;
  }
}
.container5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  max-width: 1170px;
  box-shadow: 4px 4px 4px 4px var(--token-8_2Q0KVuLnuIpl);
  padding: 43px 0px 61px;
  margin: 1.67em 0em;
}
.container5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .container5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .container5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.outerRow3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.row4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.row4 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.row4 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .row4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .row4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pVyj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  min-width: 0;
  padding: 0px 15px;
}
.img___39YDl {
  position: relative;
  object-fit: contain;
  max-width: none;
  width: 535px;
  height: auto;
  max-height: none;
  margin-top: 0px;
  box-shadow: 0px 3px 10px 0px #0000001a;
  border-radius: 5%;
}
.img___39YDl > picture > img {
  object-fit: contain;
}
.img___39YDl > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img___39YDl {
    margin-bottom: 26px;
    margin-right: 0px;
    width: 385px;
  }
}
.column__nnUfK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 15px;
}
.freeBox__lke7I {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lke7I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__lke7I > :global(.__wab_flex-container) > *,
.freeBox__lke7I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lke7I > :global(.__wab_flex-container) > picture > img,
.freeBox__lke7I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox__bpBvS {
  display: block;
  width: 40px;
  height: 4px;
  max-width: 100%;
  background: var(--token-kO0g8-OltA9tU3);
  flex-shrink: 0;
}
.h3__b4SkO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__b4SkO {
    font-size: 32px;
    margin-top: calc(0px + 20px) !important;
  }
}
.text___6Iail {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___6Iail {
    margin-top: calc(0px + 20px) !important;
  }
}
.button___3NqqT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__sylE0 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jdRVi {
  font-family: "Roboto", sans-serif;
}
.svg__zZ5Zf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.testimonials {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-2ougxj7FR6UFOM);
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  display: none;
  padding: 4.17em 15px 3.33em;
}
.testimonials > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonials {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonials > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vtdCa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__pKsaA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__pKsaA {
    font-size: 32px;
  }
}
.text__b5YmF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__ulynB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__ulynB > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__ulynB > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__ulynB > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ulynB {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ulynB > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0L7Fo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .testimonial:global(.__wab_instance) {
    margin: 0px 0px 15px;
  }
}
.column__rnWCl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.columns___1AnIy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  min-width: 0;
  border-radius: 0px;
  padding: 1.5em;
}
.columns___1AnIy > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___1AnIy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___1AnIy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rb1Ag {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__ngQgS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 100px;
  margin: 0px 0px 10px;
}
.img__ngQgS > picture > img {
  object-fit: cover;
}
.img__ngQgS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h5___36Ur {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: center;
  font-weight: 700;
  color: var(--token-2dhwo4htpskCek);
  font-family: "Roboto", sans-serif;
  font-size: var(--token-j1rJ0fLjdIUrh9);
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5___36Ur {
    text-align: center;
  }
}
.text___1VF5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1em;
}
.column___5REEj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 15px;
}
.columns__ue0Yz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #00000026;
  min-width: 0;
  padding: 1.5em;
}
.columns__ue0Yz > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ue0Yz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ue0Yz > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ph92A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h2__gSm8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  line-height: 0.7em;
  letter-spacing: 0px;
  color: var(--token-kO0g8-OltA9tU3);
  font-size: 60px;
  min-width: 0;
}
.text__lwnk7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  min-height: 120px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1em;
}
.columns__kniEs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kniEs > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columns__kniEs > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kniEs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__kniEs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dVeaj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__qzhAl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 100%;
}
.img__qzhAl > picture > img {
  object-fit: cover;
}
.img__qzhAl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__zUr07 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h5__b9H7D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  text-align: left;
  font-weight: 700;
  color: var(--token-2dhwo4htpskCek);
  font-family: "Roboto", sans-serif;
  font-size: var(--token-j1rJ0fLjdIUrh9);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__b9H7D {
    text-align: center;
  }
}
.blog:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .blog:global(.__wab_instance) {
    margin-top: calc(0px + 0px) !important;
  }
}
.ctaBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  margin-top: calc(0px + 0px) !important;
  margin-bottom: 0px;
  display: none;
}
.newFathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
