.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-SCjeVGSyMZVEHQ);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pJvFn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__ioPyr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__yhpfI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__yhpfI > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__yhpfI > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__yhpfI > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yhpfI {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__yhpfI > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___74Lei {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__dQy9D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__dQy9D > picture > img {
  object-fit: cover;
}
.img__dQy9D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ky20T {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__ky20T > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ky20T {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ky20T > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rNdCh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__td6Jk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__u0Iku {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ShAFTnuUi3Csa_);
  font-size: var(--token-6a09ldS24E8uTJ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__u0Iku {
    font-size: 20px;
  }
}
.text__xU62Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__d0SR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sEvtj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fN9Mb {
  font-size: 13px;
}
.svg__qc7Cy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__j3BFa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__uA1N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__uA1N > picture > img {
  object-fit: cover;
}
.img__uA1N > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__lTf9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__lTf9 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lTf9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__lTf9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qp0X4 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__qp0X4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__qp0X4 > :global(.__wab_flex-container) > *,
.column__qp0X4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__qp0X4 > :global(.__wab_flex-container) > picture > img,
.column__qp0X4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__nrVgN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__iWeui {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-ShAFTnuUi3Csa_);
  font-size: var(--token-6a09ldS24E8uTJ);
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__iWeui {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__eszjz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px;
}
.button__ojSd3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__svNsl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__f2Vj9 {
  font-size: 13px;
}
.svg___8EHgt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___8TOj8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__atiT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__atiT > picture > img {
  object-fit: cover;
}
.img__atiT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__xy81 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__xy81 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xy81 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__xy81 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jhM9V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__jj8Zt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__w5MhF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-ShAFTnuUi3Csa_);
  font-size: var(--token-6a09ldS24E8uTJ);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__w5MhF {
    font-size: 20px;
  }
}
.text__yRZkZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button__vezMm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cv7Uf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__tt3V7 {
  font-size: 13px;
}
.svg__bjdZp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
