.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.freeBox__rsN8H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1627px;
  height: 354px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 32px;
}
.img__xzQyp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 233px;
  height: 75px;
  flex-shrink: 0;
}
.img__xzQyp > picture > img {
  object-fit: cover;
}
.img__xzQyp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__ohLpV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 1563px;
  height: 127px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__jg4Wh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 120px;
  height: 110px;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__jg4Wh {
    width: 110px;
    flex-shrink: 0;
  }
}
.text__edGhe {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 800px;
  font-weight: 500;
}
.link___4SLIl {
  position: relative;
  color: var(--token-nKtSCdeVA7U3fI);
  font-size: 14px;
  width: 150px;
  height: 21px;
  flex-shrink: 0;
}
.link__qQvB {
  position: relative;
  color: var(--token-nKtSCdeVA7U3fI);
  font-size: 14px;
  width: 150px;
  height: 21px;
  flex-shrink: 0;
}
.link__gQAkq {
  position: relative;
  font-size: 14px;
  color: var(--token-nKtSCdeVA7U3fI);
  width: 150px;
  height: 21px;
  flex-shrink: 0;
}
.freeBox__zyHmt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100px;
  height: 110px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zyHmt {
    width: 100px;
    flex-shrink: 0;
  }
}
.text__t8JTr {
  position: relative;
  width: auto;
  height: 24px;
  max-width: 800px;
  font-weight: 500;
  flex-shrink: 0;
}
.link___3Yupj {
  position: relative;
  color: var(--token-nKtSCdeVA7U3fI);
  font-size: 14px;
  width: 130px;
  height: 21px;
  flex-shrink: 0;
}
.link__m3BhD {
  position: relative;
  color: var(--token-nKtSCdeVA7U3fI);
  font-size: 14px;
  width: 130px;
  height: 21px;
  flex-shrink: 0;
}
.link__qIgpc {
  position: relative;
  color: var(--token-nKtSCdeVA7U3fI);
  font-size: 14px;
  width: 130px;
  height: 21px;
  flex-shrink: 0;
}
.freeBox__g65Wr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 135px;
  height: 110px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__g65Wr {
    width: 133px;
    flex-shrink: 0;
  }
}
.text__mE8S {
  position: relative;
  width: 150px;
  height: 24px;
  max-width: 800px;
  font-weight: 500;
  margin-top: 0px;
  padding-bottom: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__mE8S {
    height: 24px;
    flex-shrink: 0;
  }
}
.link___3Fk4X {
  position: relative;
  color: var(--token-nKtSCdeVA7U3fI);
  font-size: 14px;
  max-width: 180px;
  width: 150px;
  margin-right: 0px;
  height: 21px;
  flex-shrink: 0;
}
.link___0Kugc {
  position: relative;
  color: var(--token-nKtSCdeVA7U3fI);
  font-size: 14px;
  max-width: 180px;
  width: 150px;
  margin-right: 0px;
  height: 21px;
  flex-shrink: 0;
}
.link__gBvbd {
  position: relative;
  color: var(--token-nKtSCdeVA7U3fI);
  font-size: 14px;
  max-width: 180px;
  width: 150px;
  margin-right: 0px;
  height: 21px;
  flex-shrink: 0;
}
.freeBox__eYqT9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  max-width: var(--token-5xNM5UtDMUnMGu);
  max-height: 32px;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__eYqT9 {
    margin-top: 20px;
  }
}
.freeBox__cDylr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 274px;
  height: 24px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cDylr {
    width: 150px;
    height: 80px;
    flex-shrink: 0;
  }
}
.text__fLeR3 {
  position: relative;
  width: 59px;
  height: 24px;
  max-width: 800px;
  font-size: 14px;
  margin-bottom: 0px;
  padding-right: 4px;
  margin-right: 5px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__fLeR3 {
    width: 56px;
    flex-shrink: 0;
  }
}
.img___9RYik {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 18px;
  height: 24px;
  flex-shrink: 0;
}
.img___9RYik > picture > img {
  object-fit: contain;
}
.img___9RYik > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.text__eiJ4D {
  position: relative;
  width: 220px;
  height: 24px;
  max-width: 800px;
  font-size: 10px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__eiJ4D {
    width: 68px;
    flex-shrink: 0;
  }
}
.freeBox__pJl0G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 128px;
  height: 32px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px 8px 8px 0px;
}
.link___5AcPq {
  position: relative;
  display: flex;
  color: var(--token-nKtSCdeVA7U3fI);
}
.svg__yvnoL {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-vaTuh5tFL3B);
  flex-shrink: 0;
  margin: 5px;
}
.link__gtWTg {
  position: relative;
  display: flex;
  color: var(--token-nKtSCdeVA7U3fI);
}
.svg__lfNqZ {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-vaTuh5tFL3B);
  flex-shrink: 0;
  margin: 5px;
}
.link__oSgDt {
  position: relative;
  display: flex;
  color: var(--token-nKtSCdeVA7U3fI);
}
.svg___25Mu5 {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-vaTuh5tFL3B);
  flex-shrink: 0;
  margin: 5px;
}
