@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-l6wACSqciiP0Ty: 0.83rem;
  --plasmic-token-unnamed-style-token: var(--token-l6wACSqciiP0Ty);
  --token-SCjeVGSyMZVEHQ: #ffffff;
  --plasmic-token-white: var(--token-SCjeVGSyMZVEHQ);
  --token-ShAFTnuUi3Csa_: #000000;
  --plasmic-token-black: var(--token-ShAFTnuUi3Csa_);
  --token-wz9EaiS2g4WAf2: #282828;
  --plasmic-token-primary-color: var(--token-wz9EaiS2g4WAf2);
  --token-u0AOM2K5zdZDan: 48px;
  --plasmic-token-lead-title: var(--token-u0AOM2K5zdZDan);
  --token-OeSNYiP-rIa-EI: 16px;
  --plasmic-token-primary-text: var(--token-OeSNYiP-rIa-EI);
  --token-6reXCWZJQqHQ_i: Inter;
  --plasmic-token-primary-font: var(--token-6reXCWZJQqHQ_i);
  --token-6a09ldS24E8uTJ: 24px;
  --plasmic-token-small-title: var(--token-6a09ldS24E8uTJ);
  --token-4WmK9HZxGOC_uJ: 30px;
  --plasmic-token-lead-title-sm: var(--token-4WmK9HZxGOC_uJ);
  --token-LP7xiXMWCgjRFg: 20px;
  --plasmic-token-small-title-sm: var(--token-LP7xiXMWCgjRFg);
  --token-Oynb9C56-Sv_5E: #0091ff;
  --plasmic-token-clr: var(--token-Oynb9C56-Sv_5E);
  --token-ujh0vkrL_JClRD: var(--token-Oynb9C56-Sv_5E);
  --plasmic-token-unnamed-style-token-2: var(--token-ujh0vkrL_JClRD);
  --token-RXfYgqgh_XWCNC: var(--token-cD_eVLa2g61kIQ);
  --plasmic-token-unnamed-style-token-3: var(--token-RXfYgqgh_XWCNC);
  --token-cD_eVLa2g61kIQ: var(--token-YEn66ni3S2ukJX);
  --plasmic-token-unnamed-style-token-4: var(--token-cD_eVLa2g61kIQ);
  --token-YEn66ni3S2ukJX: #3429291a;
  --plasmic-token-unnamed-style-token-5: var(--token-YEn66ni3S2ukJX);
  --token-obr7e0Vjwpc-2h: #f8f8f8;
  --plasmic-token-unnamed-style-token-6: var(--token-obr7e0Vjwpc-2h);
  --token-6d2mHvJEzSMOAW: 16px;
  --plasmic-token-unnamed-style-token-7: var(--token-6d2mHvJEzSMOAW);
  --token-_1iPfvEmNP2R6A: var(--token-obr7e0Vjwpc-2h);
  --plasmic-token-unnamed-style-token-8: var(--token-_1iPfvEmNP2R6A);
  --token-NfQRGyiP3sdT4h: #f4efeb;
  --plasmic-token-unnamed-style-token-9: var(--token-NfQRGyiP3sdT4h);
}

.plasmic_default_styles {
  --mixin-_pAMF1ve8ZIp_L_font-family: "Roboto", sans-serif;
  --mixin-_pAMF1ve8ZIp_L_font-size: 16px;
  --mixin-_pAMF1ve8ZIp_L_font-weight: 400;
  --mixin-_pAMF1ve8ZIp_L_font-style: normal;
  --mixin-_pAMF1ve8ZIp_L_color: var(--token-nKtSCdeVA7U3fI);
  --mixin-_pAMF1ve8ZIp_L_text-align: left;
  --mixin-_pAMF1ve8ZIp_L_text-transform: none;
  --mixin-_pAMF1ve8ZIp_L_line-height: 1.5;
  --mixin-_pAMF1ve8ZIp_L_letter-spacing: normal;
  --mixin-_pAMF1ve8ZIp_L_white-space: pre-wrap;
  --mixin-_pAMF1ve8ZIp_L_user-select: text;
  --mixin-_pAMF1ve8ZIp_L_text-decoration-line: none;
  --mixin-_pAMF1ve8ZIp_L_text-overflow: clip;
  --mixin-6UmCxLocsN7twU_color: var(--token-SCjeVGSyMZVEHQ);
  --mixin-6UmCxLocsN7twU_font-weight: 700;
  --mixin-6UmCxLocsN7twU_font-size: 50px;
  --mixin-6UmCxLocsN7twU_line-height: 1;
  --mixin-6UmCxLocsN7twU_letter-spacing: -1px;
  --mixin-6UmCxLocsN7twU_font-family: "Inter", sans-serif;
  --mixin-6UmCxLocsN7twU_white-space: pre-wrap;
  --mixin-jIWTuSTwiyKtEL_color: #000000;
  --mixin-jIWTuSTwiyKtEL_font-weight: 700;
  --mixin-jIWTuSTwiyKtEL_font-size: 36px;
  --mixin-jIWTuSTwiyKtEL_line-height: 1.1;
  --mixin-jIWTuSTwiyKtEL_letter-spacing: -1px;
  --mixin-jIWTuSTwiyKtEL_font-family: "Inter", sans-serif;
  --mixin-jIWTuSTwiyKtEL_box-shadow: none;
  --mixin-jIWTuSTwiyKtEL_white-space: pre-wrap;
  --mixin-xkROisujaIzdGK_color: #3291ff;
  --mixin-xkROisujaIzdGK_white-space: pre-wrap;
  --mixin--HAgqm3P_1MXmI_color: #000000;
  --mixin--HAgqm3P_1MXmI_font-weight: 600;
  --mixin--HAgqm3P_1MXmI_font-size: 28px;
  --mixin--HAgqm3P_1MXmI_line-height: 1.2;
  --mixin--HAgqm3P_1MXmI_letter-spacing: -0.8px;
  --mixin--HAgqm3P_1MXmI_font-family: "Inter", sans-serif;
  --mixin--HAgqm3P_1MXmI_white-space: pre-wrap;
  --mixin-FEEZZF0ziPwpW8_color: #000000;
  --mixin-FEEZZF0ziPwpW8_font-weight: 600;
  --mixin-FEEZZF0ziPwpW8_font-size: 24px;
  --mixin-FEEZZF0ziPwpW8_line-height: 1.3;
  --mixin-FEEZZF0ziPwpW8_letter-spacing: -0.5px;
  --mixin-FEEZZF0ziPwpW8_white-space: pre-wrap;
  --mixin-JtwdijJJPdPMmb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JtwdijJJPdPMmb_border-bottom-color: #dddddd;
  --mixin-JtwdijJJPdPMmb_border-bottom-style: solid;
  --mixin-JtwdijJJPdPMmb_border-bottom-width: 1px;
  --mixin-JtwdijJJPdPMmb_border-left-color: #dddddd;
  --mixin-JtwdijJJPdPMmb_border-left-style: solid;
  --mixin-JtwdijJJPdPMmb_border-left-width: 1px;
  --mixin-JtwdijJJPdPMmb_border-right-color: #dddddd;
  --mixin-JtwdijJJPdPMmb_border-right-style: solid;
  --mixin-JtwdijJJPdPMmb_border-right-width: 1px;
  --mixin-JtwdijJJPdPMmb_border-top-color: #dddddd;
  --mixin-JtwdijJJPdPMmb_border-top-style: solid;
  --mixin-JtwdijJJPdPMmb_border-top-width: 1px;
  --mixin-JtwdijJJPdPMmb_border-bottom-left-radius: 3px;
  --mixin-JtwdijJJPdPMmb_border-bottom-right-radius: 3px;
  --mixin-JtwdijJJPdPMmb_border-top-left-radius: 3px;
  --mixin-JtwdijJJPdPMmb_border-top-right-radius: 3px;
  --mixin-JtwdijJJPdPMmb_font-family: "Inconsolata";
  --mixin-JtwdijJJPdPMmb_padding-bottom: 1px;
  --mixin-JtwdijJJPdPMmb_padding-left: 4px;
  --mixin-JtwdijJJPdPMmb_padding-right: 4px;
  --mixin-JtwdijJJPdPMmb_padding-top: 1px;
  --mixin-JtwdijJJPdPMmb_white-space: pre-wrap;
  --mixin-fMTIAgD3Kkfawq_border-left-color: #dddddd;
  --mixin-fMTIAgD3Kkfawq_border-left-style: solid;
  --mixin-fMTIAgD3Kkfawq_border-left-width: 3px;
  --mixin-fMTIAgD3Kkfawq_color: #888888;
  --mixin-fMTIAgD3Kkfawq_padding-left: 10px;
  --mixin-fMTIAgD3Kkfawq_white-space: pre-wrap;
  --mixin-UkvZSjnsFGygTQ_font-family: "Inter", sans-serif;
  --mixin-UkvZSjnsFGygTQ_color: #000000;
  --mixin-UkvZSjnsFGygTQ_font-size: 16px;
  --mixin-UkvZSjnsFGygTQ_font-weight: 600;
  --mixin-UkvZSjnsFGygTQ_line-height: 1.5;
  --mixin-UkvZSjnsFGygTQ_white-space: pre-wrap;
  --mixin-ye0olUZu4BB7oK_font-family: "Inter", sans-serif;
  --mixin-ye0olUZu4BB7oK_font-size: 20px;
  --mixin-ye0olUZu4BB7oK_font-weight: 500;
  --mixin-ye0olUZu4BB7oK_color: var(--token-ShAFTnuUi3Csa_);
  --mixin-ye0olUZu4BB7oK_white-space: pre-wrap;
  --mixin-12XoTJC75pcYxh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-12XoTJC75pcYxh_border-bottom-color: #dddddd;
  --mixin-12XoTJC75pcYxh_border-bottom-style: solid;
  --mixin-12XoTJC75pcYxh_border-bottom-width: 1px;
  --mixin-12XoTJC75pcYxh_border-left-color: #dddddd;
  --mixin-12XoTJC75pcYxh_border-left-style: solid;
  --mixin-12XoTJC75pcYxh_border-left-width: 1px;
  --mixin-12XoTJC75pcYxh_border-right-color: #dddddd;
  --mixin-12XoTJC75pcYxh_border-right-style: solid;
  --mixin-12XoTJC75pcYxh_border-right-width: 1px;
  --mixin-12XoTJC75pcYxh_border-top-color: #dddddd;
  --mixin-12XoTJC75pcYxh_border-top-style: solid;
  --mixin-12XoTJC75pcYxh_border-top-width: 1px;
  --mixin-12XoTJC75pcYxh_border-bottom-left-radius: 3px;
  --mixin-12XoTJC75pcYxh_border-bottom-right-radius: 3px;
  --mixin-12XoTJC75pcYxh_border-top-left-radius: 3px;
  --mixin-12XoTJC75pcYxh_border-top-right-radius: 3px;
  --mixin-12XoTJC75pcYxh_font-family: "Inconsolata";
  --mixin-12XoTJC75pcYxh_padding-bottom: 3px;
  --mixin-12XoTJC75pcYxh_padding-left: 6px;
  --mixin-12XoTJC75pcYxh_padding-right: 6px;
  --mixin-12XoTJC75pcYxh_padding-top: 3px;
  --mixin-12XoTJC75pcYxh_white-space: pre-wrap;
  --mixin-GFRNfsc5FsnCYA_display: flex;
  --mixin-GFRNfsc5FsnCYA_flex-direction: column;
  --mixin-GFRNfsc5FsnCYA_align-items: stretch;
  --mixin-GFRNfsc5FsnCYA_justify-content: flex-start;
  --mixin-GFRNfsc5FsnCYA_list-style-position: outside;
  --mixin-GFRNfsc5FsnCYA_padding-left: 40px;
  --mixin-GFRNfsc5FsnCYA_position: relative;
  --mixin-GFRNfsc5FsnCYA_list-style-type: decimal;
  --mixin-GFRNfsc5FsnCYA_white-space: pre-wrap;
  --mixin-fOJYDwkfJ64ozy_display: flex;
  --mixin-fOJYDwkfJ64ozy_flex-direction: column;
  --mixin-fOJYDwkfJ64ozy_align-items: stretch;
  --mixin-fOJYDwkfJ64ozy_justify-content: flex-start;
  --mixin-fOJYDwkfJ64ozy_list-style-position: outside;
  --mixin-fOJYDwkfJ64ozy_padding-left: 40px;
  --mixin-fOJYDwkfJ64ozy_position: relative;
  --mixin-fOJYDwkfJ64ozy_list-style-type: disc;
  --mixin-fOJYDwkfJ64ozy_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-_pAMF1ve8ZIp_L_font-family);
  font-size: var(--mixin-_pAMF1ve8ZIp_L_font-size);
  font-weight: var(--mixin-_pAMF1ve8ZIp_L_font-weight);
  font-style: var(--mixin-_pAMF1ve8ZIp_L_font-style);
  color: var(--mixin-_pAMF1ve8ZIp_L_color);
  text-align: var(--mixin-_pAMF1ve8ZIp_L_text-align);
  text-transform: var(--mixin-_pAMF1ve8ZIp_L_text-transform);
  line-height: var(--mixin-_pAMF1ve8ZIp_L_line-height);
  letter-spacing: var(--mixin-_pAMF1ve8ZIp_L_letter-spacing);
  white-space: var(--mixin-_pAMF1ve8ZIp_L_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-6UmCxLocsN7twU_color);
  font-weight: var(--mixin-6UmCxLocsN7twU_font-weight);
  font-size: var(--mixin-6UmCxLocsN7twU_font-size);
  line-height: var(--mixin-6UmCxLocsN7twU_line-height);
  letter-spacing: var(--mixin-6UmCxLocsN7twU_letter-spacing);
  font-family: var(--mixin-6UmCxLocsN7twU_font-family);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-jIWTuSTwiyKtEL_color);
  font-weight: var(--mixin-jIWTuSTwiyKtEL_font-weight);
  font-size: var(--mixin-jIWTuSTwiyKtEL_font-size);
  line-height: var(--mixin-jIWTuSTwiyKtEL_line-height);
  letter-spacing: var(--mixin-jIWTuSTwiyKtEL_letter-spacing);
  font-family: var(--mixin-jIWTuSTwiyKtEL_font-family);
  box-shadow: var(--mixin-jIWTuSTwiyKtEL_box-shadow);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-xkROisujaIzdGK_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin--HAgqm3P_1MXmI_color);
  font-weight: var(--mixin--HAgqm3P_1MXmI_font-weight);
  font-size: var(--mixin--HAgqm3P_1MXmI_font-size);
  line-height: var(--mixin--HAgqm3P_1MXmI_line-height);
  letter-spacing: var(--mixin--HAgqm3P_1MXmI_letter-spacing);
  font-family: var(--mixin--HAgqm3P_1MXmI_font-family);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-FEEZZF0ziPwpW8_color);
  font-weight: var(--mixin-FEEZZF0ziPwpW8_font-weight);
  font-size: var(--mixin-FEEZZF0ziPwpW8_font-size);
  line-height: var(--mixin-FEEZZF0ziPwpW8_line-height);
  letter-spacing: var(--mixin-FEEZZF0ziPwpW8_letter-spacing);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-JtwdijJJPdPMmb_font-family);
  border-radius: var(--mixin-JtwdijJJPdPMmb_border-top-left-radius)
    var(--mixin-JtwdijJJPdPMmb_border-top-right-radius)
    var(--mixin-JtwdijJJPdPMmb_border-bottom-right-radius)
    var(--mixin-JtwdijJJPdPMmb_border-bottom-left-radius);
  padding: var(--mixin-JtwdijJJPdPMmb_padding-top)
    var(--mixin-JtwdijJJPdPMmb_padding-right)
    var(--mixin-JtwdijJJPdPMmb_padding-bottom)
    var(--mixin-JtwdijJJPdPMmb_padding-left);
  border-top: var(--mixin-JtwdijJJPdPMmb_border-top-width)
    var(--mixin-JtwdijJJPdPMmb_border-top-style)
    var(--mixin-JtwdijJJPdPMmb_border-top-color);
  border-right: var(--mixin-JtwdijJJPdPMmb_border-right-width)
    var(--mixin-JtwdijJJPdPMmb_border-right-style)
    var(--mixin-JtwdijJJPdPMmb_border-right-color);
  border-bottom: var(--mixin-JtwdijJJPdPMmb_border-bottom-width)
    var(--mixin-JtwdijJJPdPMmb_border-bottom-style)
    var(--mixin-JtwdijJJPdPMmb_border-bottom-color);
  border-left: var(--mixin-JtwdijJJPdPMmb_border-left-width)
    var(--mixin-JtwdijJJPdPMmb_border-left-style)
    var(--mixin-JtwdijJJPdPMmb_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-fMTIAgD3Kkfawq_color);
  padding-left: var(--mixin-fMTIAgD3Kkfawq_padding-left);
  border-left: var(--mixin-fMTIAgD3Kkfawq_border-left-width)
    var(--mixin-fMTIAgD3Kkfawq_border-left-style)
    var(--mixin-fMTIAgD3Kkfawq_border-left-color);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-UkvZSjnsFGygTQ_font-family);
  color: var(--mixin-UkvZSjnsFGygTQ_color);
  font-size: var(--mixin-UkvZSjnsFGygTQ_font-size);
  font-weight: var(--mixin-UkvZSjnsFGygTQ_font-weight);
  line-height: var(--mixin-UkvZSjnsFGygTQ_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-ye0olUZu4BB7oK_font-family);
  font-size: var(--mixin-ye0olUZu4BB7oK_font-size);
  font-weight: var(--mixin-ye0olUZu4BB7oK_font-weight);
  color: var(--mixin-ye0olUZu4BB7oK_color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-12XoTJC75pcYxh_font-family);
  border-radius: var(--mixin-12XoTJC75pcYxh_border-top-left-radius)
    var(--mixin-12XoTJC75pcYxh_border-top-right-radius)
    var(--mixin-12XoTJC75pcYxh_border-bottom-right-radius)
    var(--mixin-12XoTJC75pcYxh_border-bottom-left-radius);
  padding: var(--mixin-12XoTJC75pcYxh_padding-top)
    var(--mixin-12XoTJC75pcYxh_padding-right)
    var(--mixin-12XoTJC75pcYxh_padding-bottom)
    var(--mixin-12XoTJC75pcYxh_padding-left);
  border-top: var(--mixin-12XoTJC75pcYxh_border-top-width)
    var(--mixin-12XoTJC75pcYxh_border-top-style)
    var(--mixin-12XoTJC75pcYxh_border-top-color);
  border-right: var(--mixin-12XoTJC75pcYxh_border-right-width)
    var(--mixin-12XoTJC75pcYxh_border-right-style)
    var(--mixin-12XoTJC75pcYxh_border-right-color);
  border-bottom: var(--mixin-12XoTJC75pcYxh_border-bottom-width)
    var(--mixin-12XoTJC75pcYxh_border-bottom-style)
    var(--mixin-12XoTJC75pcYxh_border-bottom-color);
  border-left: var(--mixin-12XoTJC75pcYxh_border-left-width)
    var(--mixin-12XoTJC75pcYxh_border-left-style)
    var(--mixin-12XoTJC75pcYxh_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-GFRNfsc5FsnCYA_display);
  flex-direction: var(--mixin-GFRNfsc5FsnCYA_flex-direction);
  align-items: var(--mixin-GFRNfsc5FsnCYA_align-items);
  justify-content: var(--mixin-GFRNfsc5FsnCYA_justify-content);
  list-style-position: var(--mixin-GFRNfsc5FsnCYA_list-style-position);
  padding-left: var(--mixin-GFRNfsc5FsnCYA_padding-left);
  position: var(--mixin-GFRNfsc5FsnCYA_position);
  list-style-type: var(--mixin-GFRNfsc5FsnCYA_list-style-type);
  flex-column-gap: var(--mixin-GFRNfsc5FsnCYA_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-fOJYDwkfJ64ozy_display);
  flex-direction: var(--mixin-fOJYDwkfJ64ozy_flex-direction);
  align-items: var(--mixin-fOJYDwkfJ64ozy_align-items);
  justify-content: var(--mixin-fOJYDwkfJ64ozy_justify-content);
  list-style-position: var(--mixin-fOJYDwkfJ64ozy_list-style-position);
  padding-left: var(--mixin-fOJYDwkfJ64ozy_padding-left);
  position: var(--mixin-fOJYDwkfJ64ozy_position);
  list-style-type: var(--mixin-fOJYDwkfJ64ozy_list-style-type);
  flex-column-gap: var(--mixin-fOJYDwkfJ64ozy_flex-column-gap);
}
