.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-ShAFTnuUi3Csa_);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__a4AIr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text__wcCen {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__fzYzz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__fzYzz > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__fzYzz > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__fzYzz > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fzYzz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fzYzz > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xcvjG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__x1Qz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__x1Qz > picture > img {
  object-fit: cover;
}
.img__x1Qz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__ufZwO {
  display: flex;
  position: relative;
  width: 363px;
  height: 229px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-wz9EaiS2g4WAf2);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  padding: 1.33em;
}
.columns__ufZwO > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ufZwO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ufZwO > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__u4BMo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__e70Jg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-size: var(--token-6a09ldS24E8uTJ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__e70Jg {
    font-size: 20px;
  }
}
.text__p9Fep {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__yZrah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__tetjK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__pkfea {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___2DIof {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__mozCw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__bjNg2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__fg7Or {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__fg7Or > picture > img {
  object-fit: cover;
}
.img__fg7Or > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__qpkgY {
  display: flex;
  position: relative;
  width: 363px;
  height: 229px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-wz9EaiS2g4WAf2);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  padding: 1.33em;
}
.columns__qpkgY > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qpkgY {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qpkgY > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tLBlP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__jkStD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-size: var(--token-6a09ldS24E8uTJ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__jkStD {
    font-size: 20px;
  }
}
.text___97V8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text___46Umt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__fuEs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___5T1Gi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ryQZg {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__daDvV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__suu5C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__lQLt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__lQLt > picture > img {
  object-fit: cover;
}
.img__lQLt > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__z86Uu {
  display: flex;
  position: relative;
  width: 363px;
  height: 229px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-wz9EaiS2g4WAf2);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  padding: 1.33em;
}
.columns__z86Uu > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__z86Uu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__z86Uu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fe2Ub {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__pn8Uk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-size: var(--token-6a09ldS24E8uTJ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__pn8Uk {
    font-size: 20px;
  }
}
.text__b4G6X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__x4KSs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___8IOs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__hdwGd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__t7VX {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__zo9Hk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns___3XAm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns___3XAm > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___3XAm > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___3XAm > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___3XAm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___3XAm > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qvjt9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__zxfSz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__zxfSz > picture > img {
  object-fit: cover;
}
.img__zxfSz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__juH5S {
  display: flex;
  position: relative;
  width: 363px;
  height: 229px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-wz9EaiS2g4WAf2);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  padding: 1.33em;
}
.columns__juH5S > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__juH5S {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__juH5S > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mvg3R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__e5Uhp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-size: var(--token-6a09ldS24E8uTJ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__e5Uhp {
    font-size: 20px;
  }
}
.text__uhJmt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__mwrjf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__pSKp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__orsI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zXC3 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__sIhwB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__cXXi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__u1NXf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__u1NXf > picture > img {
  object-fit: cover;
}
.img__u1NXf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__iTCu {
  display: flex;
  position: relative;
  width: 363px;
  height: 229px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-wz9EaiS2g4WAf2);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  padding: 1.33em;
}
.columns__iTCu > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iTCu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iTCu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mZjIb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__bLipE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-size: var(--token-6a09ldS24E8uTJ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__bLipE {
    font-size: 20px;
  }
}
.text__rjH1P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__k9A8U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__f4Eno:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__iLdS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qAyf {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__cavXf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__jvSif {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__mQoBr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__mQoBr > picture > img {
  object-fit: cover;
}
.img__mQoBr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__dHxcx {
  display: flex;
  position: relative;
  width: 363px;
  height: 229px;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-wz9EaiS2g4WAf2);
  box-shadow: 0px 3px 10px 0px #0000001a;
  margin-bottom: 16px;
  padding: 1.33em;
}
.columns__dHxcx > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dHxcx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__dHxcx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__se6T3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h4__nc8Wo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-size: var(--token-6a09ldS24E8uTJ);
  padding-top: 14px;
  font-family: "Roboto", sans-serif;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__nc8Wo {
    font-size: 20px;
  }
}
.text__j03Dv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-Oynb9C56-Sv_5E);
  font-size: var(--token-OeSNYiP-rIa-EI);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.text__xH7Na {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-SCjeVGSyMZVEHQ);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button___0Id0C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___6G03M {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__szZxy {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.svg__sX0Px {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
