.root {
  flex-direction: row;
  background: #ffffff61;
  display: flex;
  position: relative;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 32px;
  }
}
.freeBox__ttwMt {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1280px;
  box-shadow: none;
  min-width: 0;
}
.freeBox__ttwMt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ttwMt > :global(.__wab_flex-container) > *,
.freeBox__ttwMt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ttwMt > :global(.__wab_flex-container) > picture > img,
.freeBox__ttwMt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ttwMt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ttwMt > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ttwMt > :global(.__wab_flex-container) > *,
  .freeBox__ttwMt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ttwMt > :global(.__wab_flex-container) > picture > img,
  .freeBox__ttwMt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.link__rx3Kv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__eEzGx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 169px;
  height: 60px;
  flex-shrink: 0;
}
.freeBox___08Q5F {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___08Q5F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___08Q5F > :global(.__wab_flex-container) > *,
.freeBox___08Q5F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___08Q5F > :global(.__wab_flex-container) > picture > img,
.freeBox___08Q5F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___08Q5F > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___08Q5F > :global(.__wab_flex-container) > *,
  .freeBox___08Q5F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___08Q5F > :global(.__wab_flex-container) > picture > img,
  .freeBox___08Q5F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.link__azw2Y {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  cursor: pointer;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__azw2Y > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__azw2Y > :global(.__wab_flex-container) > *,
.link__azw2Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__azw2Y > :global(.__wab_flex-container) > picture > img,
.link__azw2Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__gPdbt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.text___3OxiA {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-wz9EaiS2g4WAf2);
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  height: auto;
}
.svg__dauSm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.link___4Vi92 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___4Vi92 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___4Vi92 > :global(.__wab_flex-container) > *,
.link___4Vi92 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___4Vi92 > :global(.__wab_flex-container) > picture > img,
.link___4Vi92
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___3ERmb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__pwMgE {
  font-size: 18px;
  font-weight: 400;
  color: var(--token-wz9EaiS2g4WAf2);
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
  height: auto;
  display: none;
}
.svg__tdOyn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__wo6Su {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  cursor: pointer;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__wo6Su > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__wo6Su > :global(.__wab_flex-container) > *,
.link__wo6Su > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__wo6Su > :global(.__wab_flex-container) > picture > img,
.link__wo6Su
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___7TdUz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___0KRug {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__x7Mkx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__tsVl {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__tsVl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__tsVl > :global(.__wab_flex-container) > *,
.link__tsVl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__tsVl > :global(.__wab_flex-container) > picture > img,
.link__tsVl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__mnLj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__zdb9X {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}
.svg___9M2Wm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__ffu7C {
  position: relative;
  color: var(--token-dKhEFdtn8ok1mZ);
  height: auto;
  font-size: 18px;
}
.link__t90C {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__t90C > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__t90C > :global(.__wab_flex-container) > *,
.link__t90C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__t90C > :global(.__wab_flex-container) > picture > img,
.link__t90C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__o3U7X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__gNlzl {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
}
.svg__auexw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cnssp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__cbf9F {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.svg___7WWf2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
