.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__fi7DM {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__fi7DM > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__fi7DM > :global(.__wab_flex-container) > *,
.freeBox__fi7DM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fi7DM > :global(.__wab_flex-container) > picture > img,
.freeBox__fi7DM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fi7DM {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fi7DM > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fi7DM > :global(.__wab_flex-container) > *,
  .freeBox__fi7DM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fi7DM > :global(.__wab_flex-container) > picture > img,
  .freeBox__fi7DM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__lFrAm {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__lFrAm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lFrAm > :global(.__wab_flex-container) > *,
.freeBox__lFrAm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lFrAm > :global(.__wab_flex-container) > picture > img,
.freeBox__lFrAm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__wo5Tz {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__wo5Tz > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wo5Tz > :global(.__wab_flex-container) > *,
.freeBox__wo5Tz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wo5Tz > :global(.__wab_flex-container) > picture > img,
.freeBox__wo5Tz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__eUtt {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__eUtt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eUtt > :global(.__wab_flex-container) > *,
.freeBox__eUtt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eUtt > :global(.__wab_flex-container) > picture > img,
.freeBox__eUtt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__azFiy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-dKhEFdtn8ok1mZ);
  flex-shrink: 0;
}
.svg__ffPt5 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-dKhEFdtn8ok1mZ);
  flex-shrink: 0;
}
.svg__aAykv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-dKhEFdtn8ok1mZ);
  flex-shrink: 0;
}
.freeBox__zsHeJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__zsHeJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zsHeJ > :global(.__wab_flex-container) > *,
.freeBox__zsHeJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zsHeJ > :global(.__wab_flex-container) > picture > img,
.freeBox__zsHeJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__r2A7E {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-dKhEFdtn8ok1mZ);
  height: auto;
}
.button__dWlMs:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__piiD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wIfAi {
  height: auto;
}
.svg__ihrNn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__o5Pqb:global(.__wab_instance) {
  position: relative;
}
.svg__vQbJn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rhVyv {
  height: auto;
}
.svg___3CEfH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__pZtxW:global(.__wab_instance) {
  position: relative;
}
.svg__nyZl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___71Dn2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___8VvUg:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__ipJbd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pwkDj {
  height: auto;
}
.svg__sTqN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___7FIb:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__wuuXk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nhkQf {
  height: auto;
}
.svg__fr9Ck {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__sutlh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__sutlh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sutlh > :global(.__wab_flex-container) > *,
.freeBox__sutlh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sutlh > :global(.__wab_flex-container) > picture > img,
.freeBox__sutlh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__kWjIl {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-dKhEFdtn8ok1mZ);
  height: auto;
}
.button__p3Dy0:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg___3IfzW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__okO8G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gQwpD:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__s5LGy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__aZEg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___2NzNf:global(.__wab_instance) {
  position: relative;
  display: none;
}
.svg__j4Jg7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jpa4D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vbwY6:global(.__wab_instance) {
  position: relative;
}
.svg__iz7Lf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__x9Apw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__wzqud:global(.__wab_instance) {
  position: relative;
}
.svg___10RO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yFywa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gu00V:global(.__wab_instance) {
  position: relative;
}
.svg__pSz8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sNeF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
