.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-ZJytcbViYNf94A);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 4px solid var(--token-f9uuX_KM4ijDKr);
}
.rootborders_flatLeft {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rootborders_flatRight {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.freeBox__vazT8 {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__vazT8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vazT8 > :global(.__wab_flex-container) > *,
.freeBox__vazT8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vazT8 > :global(.__wab_flex-container) > picture > img,
.freeBox__vazT8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kqGGc {
  display: flex;
  flex-direction: row;
}
.freeBox__aDWbA {
  display: flex;
  position: relative;
}
.slotTargetLabel {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__yP0Oe {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__yP0Oe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__yP0Oe > :global(.__wab_flex-container) > *,
.freeBox__yP0Oe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yP0Oe > :global(.__wab_flex-container) > picture > img,
.freeBox__yP0Oe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__x6HLg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__cf6DR {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--token-nKtSCdeVA7U3fI);
  width: auto;
}
.freeBox__kKasd {
  display: flex;
  position: relative;
  width: auto;
}
.slotTargetDollars {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-nKtSCdeVA7U3fI);
  line-height: 1;
}
.text__zwKq7 {
  line-height: 28px;
  color: var(--token-dKhEFdtn8ok1mZ);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___0V8YG {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-34hCYL3lECzRvM);
  height: 100%;
  min-height: 0;
  padding: 32px;
}
.freeBox___0V8YG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___0V8YG > :global(.__wab_flex-container) > *,
.freeBox___0V8YG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0V8YG > :global(.__wab_flex-container) > picture > img,
.freeBox___0V8YG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.svg__qhvvC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dlP8Z {
  height: auto;
}
.svg___7MPqR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__qFbFj {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__qFbFj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qFbFj > :global(.__wab_flex-container) > *,
.freeBox__qFbFj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qFbFj > :global(.__wab_flex-container) > picture > img,
.freeBox__qFbFj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__ci5S7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 336px;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.valueProp__zzqj3:global(.__wab_instance) {
  width: 100%;
  max-width: 335px;
  min-width: 0;
}
.svg___2KJax {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___4J8Y:global(.__wab_instance) {
  width: 100%;
  max-width: 335px;
  min-width: 0;
}
.svg__b7YMl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
